.profile-card{
  margin-top:10px;
  margin-bottom:10px;
  flex-wrap:wrap;
}

.profile-details{
  flex-grow:1;
  margin:20px;
}

.profile-view-paragraph{
  margin-bottom:40px;
}

h1{
  text-align:center;
}