.profile-card{
  margin-top:10px;
  margin-bottom:10px;
  flex-wrap:nowrap;
}

.profile-details{
  flex-grow:1;
  margin:20px;
}

.profile-view-paragraph{
  margin-bottom:40px;
}

h1{
  text-align:center;
}

@media all and (max-width: 800px)  {
  
  .profile-card{
    flex-wrap:wrap;
  }
  
}