<nav 
  id="page-menu"
  [ngClass]="{
      'wrapped' : this.wrapped
    }">
    
  <!-- Container, case not logged yet -->
  <div
    *ngIf="!this.isAuth"
    class ="near-full col-dir hor-center flex-block page-menu-container">
    
    <div
      class="page-menu-link">
      <a routerLink="auth/signup" (click)="this.emitCloseMenu()">Créer un compte</a>
    </div>
    <div
      class="page-menu-link">
      <a routerLink="auth/signin" (click)="this.emitCloseMenu()">Connexion</a>
    </div>
    
  </div>
  
  <!-- Container, case not logged yet -->
  <div
    *ngIf="this.isAuth"
    class ="near-full col-dir hor-center flex-block page-menu-container">
    
    <active-image
      *ngIf="isAuth && this.profileService.isLoaded"
      style="cursor:pointer"
      [imageSrc]="this.profileService.profile.user.avatarUrl"
      [size]="'quarter'"
      [shape]="'round'"
      [hasOverlay]="false"
      (click)="this.onClickAvatar();this.emitCloseMenu()">
    </active-image>
    
    <div
      class="page-menu-link">
      <a routerLink="profile" (click)="this.emitCloseMenu()">Mon Profil</a>
    </div>
    <div
      class="page-menu-link begin-group">
      <a routerLink="kitchen" (click)="this.emitCloseMenu()">Recettes</a>
    </div>
    <div
      class="page-menu-link">
      <a routerLink="draft" (click)="this.emitCloseMenu()">Mes Brouillons</a>
    </div>
    <div
      class="page-menu-link begin-group">
      <a (click)="this.onNewRecipe();this.emitCloseMenu()">Nouvelle Recette</a>
    </div>

    <!-- Latest recipes -->
    <div
      *ngIf="this.profileService.areLatestRecipesLoaded"
      class="near-full col-dir hor-center flex-block page-menu-recipes">
      
      <div
        style="font-size:24px"
        class="title small">
        Dernière recettes consultées
      </div>

      <recipe-miniature
        *ngFor="let recipe of this.profileService.profile.resolvedLatestRecipes"
        [recipe]="recipe"
        [miniatureStyle]="'outlined'"
        [size]="'near-full'"
        (click)="onClickRecipe(recipe);this.emitCloseMenu()"
        (clickTag)="onClickTag($event);this.emitCloseMenu()">
      </recipe-miniature>
    </div>
    
    <loader
      *ngIf="!this.profileService.areLatestRecipesLoaded">
    </loader>
  
  </div>
</nav>
