<div 
  *ngIf="this.inputLabel !== ''"
  class="interactive-input-label"
  [ngStyle]="{
      'width': this.inputLabelWidth
    }">
  {{ this.inputLabel }}
</div>

<input 
  type="text" 
  id="{{ this.inputId }}" 
  class="medium form-input interactive-input-input"
  [class.data-placeholded]="this.placeholder != null && this.placeholder !== ''"
  [class.astext]="!this.inputInFocus"
  placeholder="{{ this.getPlaceholder() }}" 
  (focus)="this.onFocusInput()"
  (blur)="this.onBlurInput($event)"
  [ngStyle]="{
      'text-align': this.inputTextAlign
    }"/>

<tl-stateful-button
  class="interactive-input-button"
  (click)="(this.sdbLoadingStatus === -1)?this.onClickEditMarkup(this.inputId):this.onClickEditMarkupWhenLoading(this.inputId);"
  [icon]="(this.inputInFocus)?'{':'&'"
  [size]="40"
  [shape]="'square'"
  [margin]="0"
  [status]="this.sdbLoadingStatus">
</tl-stateful-button>