<shape-block
  class="active-image-container"
  [size]="'full'"
  [shape]="this.shape">
  
  <img 
    [src]="this.imageSrc" 
    class="active-image-image"/>
    
  <div
    *ngIf="this.hasOverlay"
    class="active-image-overlay"
    [class.focus]="this.onFocus">
    
    <div 
      class="active-image-icons">
      <div
        *ngIf="this.hasUploadButton"
        class="active-image-icon simple-icon">
        v
        <input
          type="file"
          class="active-image-upload-input"
          (change)="this.onChangeImage($event)"
          accept="image/*"/>
      </div>
      <a 
        class="active-image-icon simple-icon"
        href="{{ this.imageSrc }}" 
        target="_blank">
        Ñ
      </a>
    </div>
    
    <spinner
      [loadingStatus]="this.imageLoadingStatus">
    </spinner>
       
  </div>
  
</shape-block>
