<tl-timeline-card
  [size]="'xbig'"
  [date]="234567890">
  toto totootototo ksdnclsdknfklds kncsldknknl scnsln
</tl-timeline-card>

<tl-timeline-card
  [size]="'xbig'"
  [date]="234567890">
  toto totootototo ksdnclsdknfklds kncsldknknl scnsln
</tl-timeline-card>

<tl-timeline-card
  [size]="'xbig'"
  [date]="234567890">
  toto totootototo ksdnclsdknfklds kncsldknknl scnsln
</tl-timeline-card>

<tl-timeline-card
  [size]="'xbig'"
  [date]="234567890">
  toto totootototo ksdnclsdknfklds kncsldknknl scnsln
</tl-timeline-card>
