header {
  position:fixed;

  box-sizing:border-box;
  height:100px;
  width:100px;

  padding-left:30px;
  padding-right:30px;

  z-index:100;
  color:#5b7480;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header-placeholder{
  content: "";
  width: 32px;
}

#header-title {
  font-weight: bold;
  font-size: 24px;
} 

